RewriteEngine On
Require all granted

# Allow storage files
RewriteRule ^storage(/.*)?$ public/storage$1 [L]

# Forward everything else to public
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]
