<IfModule mod_rewrite.c>
    RewriteEngine On
    Require all granted
    DirectoryIndex index.php index.html

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^ index.php [L]
</IfModule>
